<body class="body-guitar">
　　　　<div class="text-center">
	<h1 style="color:white;">Please Post Piano Sound!!</h1>
　　　　　　　<%= form_for(@psound) do |f| %>
            <div class="search-box">
                <span class="search-i"><%= f.select :p_bpm, [["100", "100"],["120", "120"],["140","140"],["160","160"]] %></span>
                <span class="search-i"><%= f.select :p_key, [["A", "A"],["B", "B"],["C","C"],["D","D"],["E","E"],["F","F"],["G","G"]] %></span>
                <span class="search-i"><%= f.select :p_part, [["rythm", "rythm"],["lead", "lead"]] %></span>
            </div>
                <p class="new-audio"><%= f.file_field :p_sound, class: "g"%></p>
　　　　　　　　<p class="new-body"><%= f.text_area :p_body %></p>

　　　　　　　　<div class="text-center"><button type=submit class="btn btn-danger">contribution</button></div>
　　　　　　　<% end %>
　　　　</div>
</body>