<body class="body-guitar">
　　　　<div class="text-center">
　　　　　　　<%= form_for(@bsound) do |f| %>
            <div class="search-box">
                <span class="search-i"><%= f.select :b_bpm, [["100", "100"],["120", "120"],["140","140"],["160","160"]] %></span>
                <span class="search-i"><%= f.select :b_key, [["A", "A"],["B", "B"],["C","C"],["D","D"],["E","E"],["F","F"],["G","G"]] %></span>
                <span class="search-i"><%= f.select :b_part, [["rythm", "rythm"],["lead", "lead"]] %></span>
            </div>
                <p class="new-audio"><%= f.file_field :b_sound, class: "g"%></p>
　　　　　　　　<p class="new-body"><%= f.text_area :b_body %></p>

　　　　　　　　<div class="text-center"><button type=submit class="btn btn-danger">Update</button></div>
　　　　　　　<% end %>
　　　　</div>
</body>