<body class="body1">






<div class="search">
<%= search_form_for @q do |f| %>
<span class="serach-box">
  <%= f.label :a_bpm_start, "BPM", style: "color: white;" %>
  <%= f.select(:a_bpm_start, [['all', ''], ['100', '100'], ['120', '120'], ['140', '140'], ['160', '160']]) %>
</span>

<span class="serach-box">
  <%= f.label :a_key_start, "KEY", style: "color: white;" %>
  <%= f.select(:a_key_start, [['all', ''], ['A', 'A'], ['B', 'B'], ['C', 'C'], ['D', 'D'], ['E', 'E'], ['F', 'F'], ['G', 'G']]) %>
</span>
<span class="serach-box">
  <%= f.label :a_part_start, "PART", style: "color: white;" %>
  <!-- <%= f.search_field :a_part_start %> -->
  <%= f.select(:a_part_start, [['all', ''], ['rythm', 'rythm'], ['lead', 'lead']]) %>
</span>
<br>
<br>
  <%= f.submit %>
<% end %>
</div>

<% if @asounds.present? %>
    <div class="index">
        <% @asounds.each do |a| %>
            <div class="one">
                <div class="list_item"  data-bpm="<%= a.a_bpm %>" data-key="<%= a.a_key %>" data-part="<%= a.a_part%>">
                    <div class="box1">
                        <div><%= attachment_image_tag a.user, :user_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpeg",class: "img-circle" %></div>
                        <button class="btn btn-primary glyphicon glyphicon-user">
                        <%= link_to a.user.user_name, user_path(a.user), style: "color: white;" %>
                        </button>
                    </div>
                    <div class="box1">
                        <span class="gbody"><%= a.a_body%></span>
                        <p class="gbody"><%= audio_tag(a.a_sound, :autoplay => false, :controls => true)%></p>
                    </div>

                    <div>
                            <span class="cate-item">BPM: <%= a.a_bpm %></span>
                            <span class="cate-item">KEY: <%= a.a_key %></span>
                            <span class="cate-item">PART: <%= a.a_part %></span>
                        <br>
                        <div>
                            <% if a.liked_by?(current_user) %>
                                <span class="like-favorite">
                                <%= link_to asound_alikes_path(a), method: :delete do %>
                                    <div class="fa fa-heart" aria-hidden="true" style="color: red;"></div>
                                    <span class="like-favorite-item"><%= a.alikes.count %>
                                        <span style="padding-left: 7px;">good!</span>
                                    </span>
                                <% end %>
                                </span>
                            <% else %>
                                <span class="like-favorite">
                                    <%= link_to asound_alikes_path(a), method: :post do %>
                                    <div class="fa fa-heart-o" aria-hidden="true"></div>
                                    <span class="like-favorite-item"><%= a.alikes.count %>
                                        <span style="padding-left: 7px;">good!</span>
                                    </span>
                                    <% end %>
                                </span>
                            <% end %>

                            <span class="like-favorite">
                                <% if !Afavorite.exists?(user_id:current_user.id,asound_id:a) %>
                                <div class="glyphicon glyphicon-star-empty">
                                    <%= link_to "お気に入り",asound_add_path(a),method: :asound, class: "like-favorite-item" %>
                                </div>
                                <% else %>
                                <div class="glyphicon glyphicon-star">
                                    <%= link_to "お気に入り解除",asound_add_path(a),method: :delete, class: "like-favorite-item" %>
                                </div>
                                <% end %>
                            </span>
                        </div>

                        <% if a.user == current_user %>

                        <div class="text-right editdelete">
                            <button class="btn btn-primary glyphicon glyphicon-wrench">
                            <%= link_to "edit", edit_asound_path(a) ,class: "h"%>
                            </button>
                            <button class="btn btn-danger glyphicon glyphicon-trash">
                            <%= link_to "delete", asound_path(a), method: :delete, "data-confirm" => "本当に削除しますか？",class: "h" %>
                            </button>
                        </div>

                        <% end %>
                    </div>
                </div>

            </div>
        <% end %>
    </div>

<% end %>

<div class="pagenate">
<%= paginate @asounds %>
</div>


</body>

 






