<div class="body1">
<div class="text-center">
<%= form_for(@gsound) do |f| %>
<span><%= f.select :g_bpm, [["100", "100"],["120", "120"],["140","140"],["160","160"]] %></span>
<span><%= f.select :g_key, [["A", "A"],["B", "B"],["C","C"],["D","D"],["E","E"],["F","F"],["G","G"]] %></span>
<span><%= f.select :g_part, [["rythm", "rythm"],["lead", "lead"]] %></span>
<p><%= f.file_field :g_sound, class: "g"%></p>
<p><%= f.text_area :g_body %></p>
<div class="text-center"><button type=submit class="btn btn-danger">update</button></div>
<% end %>
</div>
</div>