<body class="body-guitar">






<div class="search">
<%= search_form_for @q do |f| %>


<span class="serach-box">
  <%= f.label :g_bpm_start, "BPM", style: "color: white;" %>
  <%= f.select(:g_bpm_start, [['all', ''], ['100', '100'], ['120', '120'], ['140', '140'], ['160', '160']]) %>
</span>

<span class="serach-box">
  <%= f.label :g_key_start, "KEY", style: "color: white;" %>
  <%= f.select(:g_key_start, [['all', ''], ['A', 'A'], ['B', 'B'], ['C', 'C'], ['D', 'D'], ['E', 'E'], ['F', 'F'], ['G', 'G']]) %>
</span>
<span class="serach-box">
  <%= f.label :g_part_start, "PART", style: "color: white;" %>
  <!-- <%= f.search_field :g_part_start %> -->
  <%= f.select(:g_part_start, [['all', ''], ['rythm', 'rythm'], ['lead', 'lead']]) %>
</span>
<br>
<br>
  <%= f.submit %>
<% end %>
</div>

<% if @gsounds.present? %>
    <div class="index">
        <% @gsounds.each do |g| %>
            <div class="one">
                <div class="list_item"  data-bpm="<%= g.g_bpm %>" data-key="<%= g.g_key %>" data-part="<%= g.g_part%>">
                    <div class="box1">
                        <div><%= attachment_image_tag g.user, :user_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpeg",class: "img-circle" %></div>
                        <button class="btn btn-primary glyphicon glyphicon-user">
                        <%= link_to g.user.user_name, user_path(g.user), style: "color: white;" %>
                        </button>
                    </div>
                    <div class="box1">
                        <span class="gbody"><%= g.g_body%></span>
                        <p class="gbody"><%= audio_tag(g.g_sound, :autoplay => false, :controls => true)%></p>
                    </div>

                    <div>
                        <div class="text-left">
                        <span class="cate-item">BPM: <%= g.g_bpm %></span>
                        <span class="cate-item">KEY: <%= g.g_key %></span>
                        <span class="cate-item">PART: <%= g.g_part %></span>
                        </div>
                        <br>
                        <div>
                            <% if g.liked_by?(current_user) %>
                                <span class="like-favorite">
                                <%= link_to gsound_likes_path(g), method: :delete do %>
                                    <div class="fa fa-heart" aria-hidden="true" style="color: red;"></div>
                                    <span class="like-favorite-item"><%= g.likes.count %>
                                        <span style="padding-left: 7px;">good!</span>
                                    </span>
                                <% end %>
                                </span>
                            <% else %>
                                <span class="like-favorite">
                                    <%= link_to gsound_likes_path(g), method: :post do %>
                                    <div class="fa fa-heart-o" aria-hidden="true"></div>
                                    <span class="like-favorite-item"><%= g.likes.count %>
                                        <span style="padding-left: 7px;">good!</span>
                                    </span>
                                    <% end %>
                                </span>
                            <% end %>

                            <span class="like-favorite">
                                <% if !Favorite.exists?(user_id:current_user.id,gsound_id:g) %>
                                <div class="glyphicon glyphicon-star-empty">
                                    <%= link_to "お気に入り",gsound_add_path(g),method: :gsound, class: "like-favorite-item" %>
                                </div>
                                <% else %>
                                <div class="glyphicon glyphicon-star">
                                    <%= link_to "お気に入り解除",gsound_add_path(g),method: :delete, class: "like-favorite-item" %>
                                </div>
                                <% end %>
                            </span>
                        </div>

                        <% if g.user == current_user %>

                        <div class="text-right editdelete">
                            <button class="btn btn-primary glyphicon glyphicon-wrench">
                            <%= link_to "edit", edit_gsound_path(g) ,class: "h"%>
                            </button>
                            <button class="btn btn-danger glyphicon glyphicon-trash">
                            <%= link_to "delete", gsound_path(g), method: :delete, "data-confirm" => "本当に削除しますか？",class: "h" %>
                            </button>
                        </div>

                        <% end %>
                    </div>
                </div>

            </div>
        <% end %>
    </div>

<% end %>

<div class="pagenate">
<%= paginate @gsounds %>
</div>


</body>

 






