<body class="body1">
<div class="text-center category">
	<span class="bpm">
		<span>BPM</span>
	    <select>
		    <option>100</option>
		    <option>120</option>
		    <option>140</option>
		    <option>160</option>
	    </select>
	</span>
	<span class="key">
		<span>KEY</span>
	    <select>
	        <option>A</option>
	        <option>B</option>
	        <option>C</option>
	        <option>D</option>
	        <option>E</option>
	        <option>F</option>
	        <option>G</option>
        </select>
    </span>
    <span class="part">
    	<span>PART</span>
        <select>
    	    <option>rythm</option>
    	    <option>lead</option>
        </select>
    </span>

<% if @gsounds.present? %>
    <div>
            <% @gsounds.each do |g| %>
        <table class="a">
                <tr>
                	<td><%= attachment_image_tag g.user, :user_image, size: '100x100', format: 'jpeg', fallback: "no_image.jpeg",class: "img-circle" %></td>
                	<td><%= link_to g.user.user_name, user_path(g.user) %>
                	<td><%= g.g_body %></td>
    	            <td><%= g.g_bpm %></td>
                    <td><%= g.g_key %></td>
                    <td><%= g.g_part%></td>
                </tr>
                <tr>
                    <td><%= audio_tag(g.g_sound, :autoplay => false, :controls => true) %></td>
                    <td><%= link_to "edit", edit_gsound_path(g) %>
	                <td><%= link_to "削除", gsound_path(g), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>






  

	            </tr>
	    </table>
	        <% end %>
<% end %>
    </div>
</div>

















