<!DOCTYPE html>
<html>
  <head>
    <title>Band</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

    <body>
  <header>
    <% if user_signed_in? %>
        <div class="header-font">
        <p class="home"><%= link_to "HOME", root_path %></p>
        <p class="user"><%= link_to "User", user_path(current_user.id) %></p>
        <p class="aboutus"><%= link_to "About us", homes_path %></p>
        <p class="contactus"><%= link_to "Contact us" %></p>
        <p class="logout"><%= link_to 'log out', destroy_user_session_path, method: :delete%></p>
    <% else %>
        <p class="sign-up"><%= link_to "Sign up", new_user_registration_path %></p>
        <p class="sign-in"><%= link_to "Sign in", new_user_session_path%></p>
    <% end %>
  </div>
</header>

    <%= yield %>
  </body>
</html>

